parameters:
	ignoreErrors:
		-
			message: "#^Class Laravel\\\\Octane\\\\Events\\\\RequestReceived not found\\.$#"
			count: 1
			path: src/Providers/LaravelServiceProvider.php

		-
			message: "#^Class Laravel\\\\Octane\\\\Events\\\\TaskReceived not found\\.$#"
			count: 1
			path: src/Providers/LaravelServiceProvider.php

		-
			message: "#^Class Laravel\\\\Octane\\\\Events\\\\TickReceived not found\\.$#"
			count: 1
			path: src/Providers/LaravelServiceProvider.php

		-
			message: "#^Class Laravel\\\\Octane\\\\Events\\\\RequestReceived not found\\.$#"
			count: 2
			path: tests/Providers/LaravelServiceProviderTest.php

		-
			message: "#^Class Laravel\\\\Octane\\\\Events\\\\TaskReceived not found\\.$#"
			count: 2
			path: tests/Providers/LaravelServiceProviderTest.php

		-
			message: "#^Class Laravel\\\\Octane\\\\Events\\\\TickReceived not found\\.$#"
			count: 2
			path: tests/Providers/LaravelServiceProviderTest.php

